#formNavContainer{
    background-color: #f2f5fa;
    height: 100%;
}

#formNavDesktop{
    width: 80%;
    margin: auto;
}

#formNavMobile{
    width: 100%;
    background-color: #f2f5fa;
}

#navLogo{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    max-width: 200px;
    object-fit: contain;
}

#legalText{
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-decoration: none;
}

#legalText a {
    text-decoration: none;
    font-weight: 700;
    color: #4123ff;
    padding: 1rem 0;
}

.navLink{
    display: flex;
    max-width: 200px;
    margin: auto;
    min-height: 40px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.navStepperSegment{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.navDot{
    border-radius: 20px;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    margin-left: 2px;
    padding: 0px;
    background-clip: content-box;
    position: relative;

}

.toggle{
    object-fit: contain;
    width: 20px;
    transition: 0.15s all ease-in-out;
}

.activeToggle{
    composes: toggle;
    transform: rotate(-180deg);
}

.inactiveToggle{
    composes: toggle;
}

.navLine{
    flex: 1 1 0%;
    margin: 0px 0px -3px 6px;
}

.activeNavLine {
    composes: navLine;
    border-left: 1px solid rgb(65, 35, 255);
}

.inactiveNavLine{
    composes: navLine;
    border-left: 1px dashed rgb(184, 184, 188);
}

.activeNavDot{
    composes: navDot;
    border: 1px solid rgb(65, 35, 255);
    background-color: rgb(64, 255, 177);
}

.inactiveNavDot{
    composes: navDot;
    border: 1px solid rgb(184, 184, 188);
    background-color: #fff;
}

.navTextContainer{ 
    display: flex;
    flex-direction: column;
    margin: 0px 8px 0px 15.5px;
    padding-bottom: 20px;
}

.navText{
    text-decoration: none;
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
}

.navText:hover{
    cursor: pointer;
}

.activeStyle {
    width: fit-content;
    color: #4123ff;
    font-weight: 700;
    font-size: 13px;
    border-bottom: 1px dashed rgb(65, 35, 255);
}

.inactiveStyle {
    color: rgb(13, 13, 70);
}

.unselectable {
    cursor: none;
    color: rgb(184, 184, 188);
    user-select: none !important;
}

.accordionHeaderContainer {
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    transition: 0.4s;
}

.accordionHeader{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.accordionHeader p > img {
    vertical-align: middle;
    margin-left: 0.75rem;
}

.accordionContent{
    transition: 0.5s all ease-in-out;
}

.active, .accordion:hover {
    background-color: #ccc;
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#progressBarContainer{
    width: 100%;
    height: 8px;
    background-color: #CFFFEB;
}

#progress{
    height: 8px;
    background-color: #40FFB1;
}

@media screen and (max-width: 768px) {
    #formNavMobile{
        visibility: visible;
    }

    #formNavDesktop{
        display: none;
    }

    .logo{
        max-width: 150px;
    }

    #legalText{
        width: 70%;
        position: inherit;
        margin: auto;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    #formNavDesktop{
        visibility: visible;
    }

    #formNavMobile{
        display: none;
    }
}