#footer{
    position: absolute;
    bottom: 0;
    height: 15%;
    background-color: #0d0d46;
    width: 100%;
    letter-spacing: 1px;
  }
  
  #buttonContainer{
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  
  .button{
    margin: 1rem;
    padding: 0.5rem;
    width: 120px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 25px;
    transition: 0.25s all ease-in-out;
  }
  
  .button:hover{
    background-color: var(--primary-color);
  }
  
  .back{
    background: none;
    color: white;
    border: 1px solid white;
  }
  
  .next{
    background: var(--secondary-color);
    color: none;
    border: 1px solid var(--secondary-color);
  }
  
  .next:hover{
    border: 1px solid var(--primary-color);
    color: white;
  }
  
  .inactive{
    background: #42426f;
    color: #9292ac;
    border: 1px solid #42426f;
  }
  
  .inactive:hover{
    background-color: #42426f;
  }
  
  @media screen and (max-width: 768px) {
    #footer{
      height: 12.5%;
    }
  
    #saveForLaterText{
      transform: translate(-50%, 25%);
    }
  
    #buttonContainer{
      width: 100%;
    }
  }